<!DOCTYPE html>
<html>
<head>
    <title>Mahatma Gandhi Kashi Vidyapith: @ViewBag.Title</title>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="MGKVP, Best University in India, Top University In India, Eucation, Degree" />
    <meta name="description" content="Mahatma Gandhi Kashi Vidyapith: MGKVP, Best University in India, Top University In India, Eucation, Degree">
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/img/mgkvp-logo.png">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <!-- Web Fonts  -->
    <link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light%7CPlayfair+Display:400&display=swap" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,500&display=swap" rel="stylesheet">
    <!-- Vendor CSS -->
    <link href="~/WebAssets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/WebAssets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/WebAssets/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/WebAssets/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="~/WebAssets/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="~/WebAssets/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/WebAssets/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/WebAssets/vendor/magnific-popup/magnific-popup.min.css">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/WebAssets/css/theme.css">
    <link rel="stylesheet" href="~/WebAssets/css/theme-elements.css">
    <!-- Skin CSS -->
    <link id="skinCSS" rel="stylesheet" href="~/WebAssets/css/skins/skin-corporate-8.css">
    <!-- Theme Custom CSS -->
    <link href="~/Content/css/jquery-confirm.css" rel="stylesheet" />
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="~/WebAssets/css/pribox.css" rel="stylesheet" />
    <link href="~/WebAssets/css/gallery.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/WebAssets/css/custom.css">
    <link rel="stylesheet" href="~/WebAssets/css/media.css">
    <!-- Head Libs -->

    <script src="~/WebAssets/vendor/modernizr/modernizr.min.js"></script>
    <script src="~/WebAssets/vendor/jquery/jquery.min.js"></script>
    <script async src="https://cse.google.com/cse.js?cx=50174859a05733ccb"></script>
    <style>
        .gsc-input {
            background: none !important;
        }

        #header .header-column .header-row {
            justify-content: initial;
        }

        .globe {
            position: absolute;
            right: 10px;
            top: 3px;
            width: 148px;
            height: 148px;
            border-radius: 75px;
            z-index: 100;
            font-weight: bold;
            line-height: 14px;
            background: rgb(84, 197, 255) url(/assets/images/globe.png) no-repeat 0 0;
            box-shadow: 0 0 5px 2px rgb(84, 197, 255);
        }

            .globe img.animatedglobe {
                width: 148px;
                height: 148px;
                position: absolute;
                left: 0;
                top: 0;
            }

            .globe .g_city {
                font-size: 14px;
                color: #FF9D47;
                text-shadow: 0 0 4px #000;
                display: table-cell;
                text-align: center;
                position: absolute;
                top: 35px;
                width: 100%;
            }

            .globe .g_temp {
                font-size: 40px;
                color: #FFC742;
                text-shadow: 0 0 4px #000;
                display: table-cell;
                text-align: center;
                position: absolute;
                top: 69px;
                width: 100%;
            }

            .globe .g_link {
                font-size: 12px;
                color: #4FF1FF;
                text-shadow: 0 0 4px #000;
                display: table-cell;
                text-align: center;
                position: absolute;
                top: 100px;
                width: 100%;
            }
    </style>

</head>
<body>

    <header id="header" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyStartAt': 164, 'stickySetTop': '-192px', 'stickyChangeLogo': false}">
        <div class="header-body border-0">
            <div class="header-top header-top-default border-bottom-0">
                <div class="container">
                    <div class="header-row">
                        @*<div class="header-column justify-content-start">
                            <div class="header-row">
                                <a id="LnkAuthorizedLogin" class="badge badge-danger" href="/home/AuthorityLogin">
                                    University Authority Login
                                </a>
                            </div>
                        </div>*@
                        <div class="header-column justify-content-end mobileDisplaynone">
                            <div class="header-row">
                                <ul class="header-social-icons social-icons d-none d-sm-block social-icons-clean">
                                    <li><a href="https://www.facebook.com/officialmgkvp/" target="_blank" class="facebook"><i class="fab fa-facebook" aria-hidden="true" title="MGKVP facebook"></i></a></li>
                                    <li><a href="https://www.instagram.com/mgkvpofficial/" target="_blank" class="instagram"><i class="fab fa-instagram" aria-hidden="true" title="MGKVP instagram"></i></a></li>
                                    <li><a href="https://twitter.com/mgkvpofficial" target="_blank" class="twitter"><i class="fab fa-twitter" aria-hidden="true" title="MGKVP Twitter"></i></a></li>
                                    <li><a href="https://api.whatsapp.com/send?phone=8931821873&amp;text=" target="_blank" class="whatsapp" title="Whatsapp on 8931821873"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.youtube.com/channel/UCSECg1TMX_Nbo2EJ4RnCjBg" class="youtube"><i class="fab fa-youtube" aria-hidden="true" title="MGKVP Youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="header-container container">
                <div class="header-row py-3">
                    <div class="header-column justify-content-start col-md-2 order-md-1 d-md-flex">
                        <div class="header-row"><a href="/Home/Index"> <img src="~/WebAssets/img/logos/mgkvp-logo.png" alt="Logo Mgkvp"></a> </div>
                    </div>
                    <div class="header-column justify-content-start justify-content-md-center  col-md-10 order-1 order-md-2 text-center">
                        <div class="header-row">
                            <div class="header-logo"> <span class="univ_name_eng">MAHATMA GANDHI KASHI VIDYAPITH, VARANASI</span> <span class="univ_name_hin">महात्मा गांधी काशी विद्यापीठ, वाराणसी</span> <span class="univ_caption">(A Uttar Pradesh State University)</span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @*<marquee width="100%" direction="Left" height="10%" onmouseover="this.stop();" onmouseout="this.start();" style="background: #fbb50e; padding:5px 48px;margin: 0px 0px -8px 0px;">
            <span class="Scrollnews">समस्त छात्र/छात्राओं को सूचित किया जाता है विश्वविद्यालय द्वारा वर्ष 2012 से 2020 तक के समस्त उपाधि प्रमाणपत्र NAD-DigiLocker  पर अपलोड कर दिए गए है। आप सभी लोग NAD-DigiLocker के https://nad.digilocker.gov.in/students पेज पर अकाउंट बना कर या NAD-DigiLocker APP के माध्यम से उपाधि प्रमाणपत्र प्राप्त कर सकते है।</span>
        </marquee>*@

    <div>
        @RenderBody()
    </div>

    <footer id="footer">
        <div class="container">
            <div class="footer-ribbon"> <span>Get in Touch with MGKVP</span> </div>
            <div class="row py-5 my-4">
                <div class="col-md-9 mb-4 mb-lg-0">
                    <h5 class="text-3 mb-3">ABOUT US</h5>
                    <p class="mt-2 mb-2">Mahatma Gandhi Kashi Vidyapith is a Public University located in Varanasi or Banaras, Uttar Pradesh, India. Established in 1921 as Kashi Vidyapith and later renamed, it is administered under the state legislature of the government of Uttar Pradesh. The university has more than 350+ affiliated colleges spread over five Districts(Varanasi, Chandauli, Bhadohi, Mirzapur, Sonbhadra). It is one of the largest State Universities in Uttar Pradesh...</p>
                    <p><a href="/TheUniversity/AboutUs" class="btn-flat btn-xs text-color-light"><strong class="text-2">VIEW MORE</strong><i class="fas fa-angle-right p-relative top-1 ps-2"></i></a></p>
                    <div class="row pt-3">
                        <div class="col-6 col-lg-4 mb-4 mb-lg-0">
                            <h5 class="text-3 mb-3">Students</h5>
                            <ul class="list list-icons list-icons-sm mb-0">
                                <li><i class="fas fa-angle-right top-8"></i> <a class="link-hover-style-1" href="https://mgkvp.ac.in/StudentHome/Admissions">Admission</a></li>
                                <li><i class="fas fa-angle-right top-8"></i> <a class="link-hover-style-1" href="https://mgkvp.ac.in/StudentHome/Examination">Examination</a></li>
                                <li><i class="fas fa-angle-right top-8"></i> <a class="link-hover-style-1" href="https://mgkvp.ac.in/StudentHome/TimeTable">Time Table / Center List</a></li>
                                <li><i class="fas fa-angle-right top-8"></i> <a class="link-hover-style-1" href="https://mgkvp.ac.in/home/EvaluatorAndResult" target="_blank">Evaluation/Result</a></li>
                                <li><i class="fas fa-angle-right top-8"></i> <a class="link-hover-style-1" href="https://mgkvp.ac.in/AcademicsHome/Research_List">Research</a></li>
                                <li><i class="fas fa-angle-right top-8"></i> <a class="link-hover-style-1" href="https://mgkvp.ac.in/StudentHome/Syllabus">Syllabus</a></li>
                                <li><i class="fas fa-angle-right top-8"></i> <a class="link-hover-style-1" href="https://mgkvp.ac.in/FacilityHome/anti_ragging?cid=5">Anti Ragging</a></li>
                                <li><i class="fas fa-angle-right top-8"></i> <a class="link-hover-style-1" href="https://mgkvp.ac.in/AdministrationHome/TeacherAssociations">Student Help Desk</a></li>
                                <!--<li><i class="fas fa-angle-right top-8"></i> <a class="link-hover-style-1" href="/Home/Scholarship">Scholarship &amp; Fellowship </a></li>-->
                                <li><i class="fas fa-angle-right top-8"></i> <a class="link-hover-style-1" href="https://mgkvp.ac.in/FooterHome/StudentZoneList">More <span class="fa fa-angle-right"></span></a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-lg-4 mb-4 mb-lg-0">
                            <h5 class="text-3 mb-3">University Zone</h5>
                            <ul class="list list-icons list-icons-sm mb-0">
                                <li><i class="fas fa-angle-right top-8"></i> <a class="link-hover-style-1" href="https://mgkvp.ac.in/AdministrationHome/AdminOfficers">Administration</a></li>
                                <li><i class="fas fa-angle-right top-8"></i> <a class="link-hover-style-1" href="https://mgkvp.ac.in/AdministrationHome/TeachingStaff">Teaching Staff</a></li>
                                @*<li><i class="fas fa-angle-right top-8"></i> <a class="link-hover-style-1" href="/AdministrationHome/NonTeachingStaff">Non-Teaching Staff</a></li>*@
                                <li><i class="fas fa-angle-right top-8"></i> <a class="link-hover-style-1" href="https://mgkvp.ac.in/AcademicsHome/AcademicCalender">Academic Calendar</a></li>
                                <li><i class="fas fa-angle-right top-8"></i> <a class="link-hover-style-1" href="https://mgkvp.ac.in/AcademicsHome/HolidayList">Holiday List</a></li>
                                <li><i class="fas fa-angle-right top-8"></i> <a class="link-hover-style-1" href="https://mgkvp.ac.in/AcademicsHome/Seminarworkshop_List">Seminar/Workshop/Conference</a></li>
                                <li><i class="fas fa-angle-right top-8"></i> <a class="link-hover-style-1" href="https://mgkvp.ac.in/AcademicsHome/List_Recruitment">Recruitment</a></li>
                                <li><i class="fas fa-angle-right top-8"></i> <a class="link-hover-style-1" href="https://mgkvp.ac.in/AcademicsHome/Tender">Tenders</a></li>
                                <li><i class="fas fa-angle-right top-8"></i> <a class="link-hover-style-1" href="https://mgkvp.ac.in/AdministrationHome/TeacherAssociations">Teaching/Non-Teaching Union</a></li>
                                <li><i class="fas fa-angle-right top-8"></i> <a class="link-hover-style-1" href="https://mgkvp.ac.in/FooterHome/UniversityZoneList">More <span class="fa fa-angle-right"></span></a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-lg-4 mb-4 mb-lg-0">
                            <h5 class="text-3 mb-3">Facilities Zone</h5>
                            <ul class="list list-icons list-icons-sm mb-0">
                                <li><i class="fas fa-angle-right top-8"></i> <a class="link-hover-style-1" href="https://mgkvp.ac.in/Departmenthome/departmentnew?Id=58">IQAC-MGKVP</a></li>
                                <li><i class="fas fa-angle-right top-8"></i> <a class="link-hover-style-1" href="https://mgkvp.ac.in/TheUniversity/UIEGBMgkvp">UEIGB-MGKVP</a></li>
                                <li><i class="fas fa-angle-right top-8"></i> <a class="link-hover-style-1" href="https://mgkvp.ac.in/facilitiesHome/DeptFacilities?id=61">Central Library</a></li>
                                <li><i class="fas fa-angle-right top-8"></i> <a class="link-hover-style-1" href="https://mgkvp.ac.in/NSS/Nss?Id=56">National Service Scheme</a></li>
                                <li><i class="fas fa-angle-right top-8"></i> <a class="link-hover-style-1" href="https://mgkvp.ac.in/StudentHome/Hostels_Mess">Hostels / Mess</a></li>
                                <li><i class="fas fa-angle-right top-8"></i> <a class="link-hover-style-1" href="https://mgkvp.ac.in/StudentHome/RTI">Right to Information (RTI)</a></li>
                                <li><i class="fas fa-angle-right top-8"></i> <a class="link-hover-style-1" href="https://mgkvp.ac.in/FacilityHome/FestivalList">Youth Festival</a></li>
                                @* <li><i class="fas fa-angle-right top-8"></i> <a class="link-hover-style-1" href="https://start.mgkvp.ac.in/NSS/60/USC">University Sport Council</a></li> *@
                                <li><i class="fas fa-angle-right top-8"></i> <a class="link-hover-style-1" href="https://mgkvp.ac.in/FacilityHome/Various_ProfomaList">University Various Forms</a></li>
                                <!--<li><i class="fas fa-angle-right top-8"></i> <a class="link-hover-style-1" href="/FacilityHome/HighlightList">Highlights</a></li>-->

                                <li><i class="fas fa-angle-right top-8"></i> <a class="link-hover-style-1" href="https://mgkvp.ac.in/FooterHome/FacilityZoneList">More <span class="fa fa-angle-right"></span></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 mb-4 mb-lg-0">
                    <img src="img/raj-bhavan.png" alt="">
                    <h5 class="text-3 mt-3 pb-0">CONTACT US</h5>

                    <ul class="list list-icons list-icons-lg">
                        <li class="mb-1">
                            <i class="far fa-dot-circle"></i>
                            <p class="m-0">Station Road, Maldahiya Crossing, Maldahiya, Kashi Vidyapith, Chetganj, Varanasi, Uttar Pradesh 221002</p>
                        </li>
                        <li class="mb-1">
                            <i class="far fa-envelope"></i>
                            <p class="m-0"><a href="mailto:info@mgkvp.ac.in">info@mgkvp.ac.in</a></p>
                        </li>
                    </ul>
                    <!-- <p>Help Desk</p>
                    <p class="text-8 text-color-light font-weight-bold"><a href="tel:18005320157" class="text-decoration-none text-color-light">18005320157</a></p>-->
                    <h5 class="text-3 mb-3 pb-1">Follow us on Social Media</h5>
                    <ul class="footer-social-icons social-icons mt-4">

                        <li class="social-icons-facebook"><a href="https://www.facebook.com/officialmgkvp/" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true" title="MGKVP facebook"></i></a></li>
                        <li class="social-icons-instagram"><a href="https://www.instagram.com/mgkvpofficial/" target="_blank"><i class="fab fa-instagram" aria-hidden="true" title="MGKVP instagram"></i></a></li>
                        <li class="social-icons-twitter"><a href="https://twitter.com/mgkvpofficial" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                        <li class="social-icons-whatsapp"><a href="https://api.whatsapp.com/send?phone=8931821873&amp;text=" target="_blank" title="Whatsapp on 8931821873"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                        <li class="social-icons-youtube"><a href="https://www.youtube.com/channel/UCSECg1TMX_Nbo2EJ4RnCjBg"><i class="fab fa-youtube" aria-hidden="true" title="MGKVP Youtube"></i></a></li>

                        <li class="social-icons-linkedin"><a href="https://www.linkedin.com/in/mahatma-gandhi-kashi-vidyapith-1527a0231/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in text-2"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container py-2">
                <div class="row py-2">
                    <div class="col-lg-8 d-flex align-items-center justify-content-center justify-content-lg-start mb-4 mb-lg-0">
                        <p>© Copyright 2022. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-end">
                        <nav id="sub-menu">
                            <ul>



                                <li><a target="_blank" href="http://erp.mgkvp.ac.in/home/adminlogin" class="ms-1 text-decoration-none">ERP Admin <span class="fas fa-key"></span></a></li>

                                <li><a target="_blank" href="~/Home/Login" class="ms-1 text-decoration-none">Login <span class="fas fa-key"></span></a></li>
                                <li><i class="fas fa-angle-right"></i><a href="/TheUniversity/ContactList" class="ms-1 text-decoration-none"> Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ~/vendor -->
    <script src="~/Content/js/jquery-confirm.min.js"></script>
    <script src="~/Content/sweetalert/sweetalert.min.js"></script>
    <script src="~/WebAssets/vendor/jquery.appear/jquery.appear.min.js"></script>
    <script src="~/WebAssets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/WebAssets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/WebAssets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/WebAssets/js/examples.carousels.js"></script>
    <script src="~/WebAssets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/WebAssets/js/examples.gallery.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/WebAssets/js/theme.js"></script>

    <!-- Theme Custom -->
    <script src="~/WebAssets/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/WebAssets/js/theme.init.js"></script>
    <script src="~/WebAssets/js/jquery.marquee.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.marquee').marquee({
                allowCss3Support: true,
                css3easing: 'linear',
                easing: 'linear',
                delayBeforeStart: 100,
                direction: 'up',
                duplicated: false,
                duration: 5000,
                gap: 10,
                pauseOnCycle: false,
                pauseOnHover: true,
                startVisible: false

            });
        });

    </script>


</body>
</html>
